{% extends 'blog_app/base.html' %}
{% load static %}

{% block site_title %} Password Reset Done - {{ setting.title}} {% endblock site_title %}

{% block page-title %}
    <section id="page-title" class="page-title-dark">
        <div class="container clearfix">
            <h1>An email has been sent</h1>
        </div>
    </section>
{% endblock page-title %}

{% block content %}
<div class="alert alert-info">
    An email has been sent with instructions to reset your password
</div>
{% endblock content %}


{% block sidebar %}
{% endblock sidebar %}
